
body {
    width:  100%;
    height: 100%;
  }
.background{
    background-image: url(images/potential_better_img.avif);
    background-repeat: repeat;
    background-size: cover;
}
.header{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
    h1{
        color:azure;
}
}
.intro{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
    p{
        color:azure;
    }
}
.face{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
    height: 100px;
    background-image: url(images/me.png);
    background-size: 120%;
}
